html, body {
    width: 100%;
    height: 100%;
    margin: 0;
}

.container{
    width: 85%;
    height: 99%;
    margin-left: 280px;
}

.sidebar{
    position: absolute;
    width: 280px;
    height: 500px;
    margin-top: 115px;
}

img{
    width: 24px;
    height: 24px;
    padding-right: 16px;
    padding-left: 24px;
}

ul {
    list-style:none;
    color: #707070;
    margin: 0;
    padding: 0;
}

li{
    display: flex;
    width: 280px;
    height: 44px;
    border-radius: 0 50px 50px 0;
    align-items: center;
    cursor:pointer;
}

li:hover{
    background-color: #F4F4F4;
}

ul li:nth-child(3){
    background-color: #55ACFF;
    color: white;
}

ul li:nth-child(3) > img {
    filter: brightness(100);
    padding-left: 24px;
}

h2{
    width: 100%;
    text-align: center;
    font-weight: lighter;
}

main{
    width: 770px;
    margin: 0 18.3%;
}

.data {
    width: 760px;
    height: 200px;;
    margin-bottom: 25px;
    border: 1px solid #707070;
    border-radius: 20px;
}

.data > div:nth-child(1){
    font-size: 21px;
    padding: 24px;
}

.data-paper{
    padding-top: 20px;
    padding-left: 25px;
}

.flexbox{
    display: flex;
    align-items: center;
    padding: 10px 0;
}

.metadata{
    color: #707070;
    width: 320px;
    font-size: 12px;
}

.checkbox-data{
    color: #707070;
    font-size: 12px;
}