.Login-container{
    width: 440px;
    text-align: center;
    margin: auto;
    margin-top: 10%;
}

img{
    width: 110px;
    height: 110px;
    margin-bottom: 20px;
}

.id-input{
    width: 412px;
    height: 57px;
    margin-top: 10px;
    padding-left: 23px;
    font-size: 16px;
}

input::placeholder {
    font-size: 17px;
    padding-left: 3.5px;
}

#btn {
    width: 74px;
    height: 44px;
    margin-top: 15px;
    font-size: 18px;
    background-color: white;
    border: 1px solid #707070;
    border-radius: 10px;
    padding: 10px 15px;
    cursor:pointer;
}

#btn:hover {
    background-color: #F4F4F4;
}

.btn {
    width: 170px;
    height: 45px;
    margin-top: 20px;
    font-size: 17px;
    background-color: white;
    border: 1px solid #707070;
    border-radius: 10px;
    text-align: center;
    cursor:pointer;
}

.btn:hover {
    background-color: #F4F4F4;
}

.wrap{
    font-size: 13px;
    margin-top: 10px;
    margin-left: 28px;
    color: #BEBEBE;
    cursor:pointer;
    text-align: left;
}

.wrap > span{
    margin: 0 2px;
}

.display-none {
    display: none;
}

#password {
    margin-top: 20px;
    font-weight: bolder;
    font-size: 20px;
}

