.container{
    width: 440px;
    margin: 8% auto;
}

.text-input-box{
    margin: 40px 0;
}


img{
    width: 110px;
    height: 110px;
    margin: 0 165px;
    margin-bottom: 10px;
}
input{
    width: 410px;
    height: 52px;
    padding-left: 20px;
    font-size: 20px;
}

h3{
    margin: 7px 0;
    font-weight: bold;
}

button{
    width: 440px;
    height: 56px;
    text-align: center;
    background-color: white;
    font-size: 20px;
    font-weight: bold;
    cursor:pointer;
}

.text-input-box > div {
    font-size: 15px;
    color: red;
    padding-left: 20px;
}
